<h2>Add an author</h2>
<form action="/authors" method="POST">
    <input type="text" name="name" id="name" placeholder="Name..."><br />
    <input type="number" name="mustacheSize" placeholder="You know in centimeters....">
    <input type="submit" value="Add Author">
</form>